
header {
    background-color: #222;
    color: #fff;
    padding: 10px;
}

body {
    margin-bottom: 20px;
}


header h1 {
    margin: 0;
    font-size: 32px;
    text-align: center;
}


section#coches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.car-card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}


.car-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}


.car-card h3 {
    margin: 10px;
    font-size: 24px;
}

.car-card p {
    margin: 10px;
    font-size: 18px;
}



section#accesorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.accessory-card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}


.accessory-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.accessory-card h3 {
    margin: 10px;
    font-size: 24px;
}

.accessory-card p {
    margin: 10px;
    font-size: 18px;
}


#alquilar-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    background-color: #008CBA;
    color: #fff;
    cursor: pointer;
}


footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar {
    background-color: #242DFB;
}


.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-brand {
    color: #fff;
}
